{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Virendra</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
</head>
<body>
    <header class="header"> 
        <a href="#" class="logo">Portfolio</a>

        <nav class="navbar">
            <a href="#" style="--i:1">Home</a>
            <a href="#about"  style="--i:2" >About</a>
            <a href="#myskills"  style="--i:3" >Skills</a>
            <a href="#project"  style="--i:4" >Portfolio</a>
            <a href="#contact"  style="--i:5" >Contact</a>       
        </nav>
    </header>
    <section class="home">
        <div class="home-content">
            <h3>Hello, It's Me <span class="text"></span></h3>
            <h1>Virendra Singh</h1>
            <h3>And I'm a </h3><br>
            <p>I am a final-year Engineering student specializing in Computer Science and Engineering. <br>With a strong foundation in data science, data analytics, and machine learning, <br> I am proficient in Python and Django, applying these skills to solve <br> real-world problems. I'm passionate about technology and continuously expanding my expertise in software development.
            </p>
            <div class="home-sci">
                <a href="https://www.linkedin.com/in/virendra-singh-a66467271/"  style="--i:7"  ><i class='bx bxl-linkedin'></i></a>
                <a href="https://www.facebook.com/virru.banna.39"  style="--i:8" ><i class='bx bxl-facebook'></i></a>
                <a href="https://github.com/virendra1109"  style="--i:9" ><i class='bx bxl-github'></i></a>
            </div>
            <a href="#about" class="btn-box">More About Me</a>
        </div>
    </section>
    <section class="about" id="about">
        <div class="about-img">
            <img src="{% static 'img/photo.png' %}" alt="">
        </div>
        <div class="about-text">
            <h2>About <span>Me</span></h2>
            <h4>Full Stack Developer!</h4>
            <p>I am a full stack developer with a strong focus on Python and Django, capable of handling both front-end and back-end development. My skill set includes creating dynamic, responsive websites and applications using HTML, CSS, and JavaScript, while ensuring robust back-end functionality through Django's powerful framework. With a deep understanding of database management, APIs, and deployment, I can manage the full development lifecycle, from conceptual design to deployment and maintenance. My expertise in data science, analytics, and machine learning adds an extra layer of insight and innovation to my development projects.
            </p>
            <a href="#" class="btn-box" >More About Me</a>
        </div>
    </section>

    <section>
        <div class="services" id="services">
            <div class="container">
                <h1 class="sub-title">My <span>Services</span></h1>
                <div class="services-list">
                    <div>
                        <i class="bx bx-code" style="color: #00eeff;"></i>
                        <h2>Data Science</h2>
                        <p> 
                            <ul style="font-size:large;">
                            <li>Data Cleaning & Preparation.</li>
                            <li>Data Analysis & Visualization.</li>
                            <li>Machine Learning Model Development.</li>
                            <li>Data-driven Insights.</li>
                            <li>Custom Data Solutions.</li>
                            </ul>
                        </p>
                        <a href="#" class="read">learn more</a>
                    </div>
                    <div>
                        <i class="bx bx-crop" style="color: #00eeff;"></i>
                        <h2>Full Stack Web Developer</h2>
                        <p>
                            <ul style="font-size:large;">                                  
                                <li><strong>Backend (Django & Python):</strong> Secure and scalable backend development using Django and Python.</li>
                                <li><strong>Frontend (HTML, CSS, Bootstrap, JavaScript):</strong> Responsive and user-friendly interfaces with modern web technologies.</li>
                                <li><strong>Database (MongoDB):</strong> Efficient data storage and management with MongoDB for scalable applications.</li>
                            </ul>
                        </p>
                        <a href="#" class="read">learn more</a>
                    </div>
                    <div>
                        <i class="bx bxl-python" style="color: #00eeff;"></i>
                        <h2 >Python Development</h2>
                        <p style="font-size: larger;">"I offer robust Python development services, specializing in building scalable and efficient backend systems. With expertise in Django for web applications, I create dynamic and secure solutions tailored to your business needs. Whether it's automating tasks, integrating APIs, or developing custom software, my Python development ensures performance and reliability."
                        </p>
                        <a href="#" class="read">learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="myskills">
        <h1 class="sub-title">My <span>Skills</span></h1>
        <section id="skills">
            <div class="container1" id="Skills">
                <h1 class="heading1">Technical Skills</h1>
                <div class="Technical-bars">
                    <div class="bar"> <i style="color: #c95d2e;" class="bx bxl-html5"></i>
                        <div class="info">
                            <span>HTML</span>
                        </div>
                        <div class="progress-line html">
                            <span></span>
                        </div>
                    </div> <br>
                    <div class="bar"> <i style="color: #147bbc;" class="bx bxl-css3"></i>
                        <div class="info">
                            <span>CSS</span>
                        </div>
                        <div class="progress-line css">
                            <span></span>
                        </div>
                    </div><br>
                    <div class="bar"> <i style="color: #b0bc1e;" class="bx bxl-javascript"></i>
                        <div class="info">
                            <span>JavaScript</span>
                        </div>
                        <div class="progress-line javascript">
                            <span></span>
                        </div>
                    </div><br>
                    <div class="bar"> <i style="color: #c32ec9;" class="bx bxl-python"></i>
                        <div class="info">
                            <span>Python</span>
                        </div>
                        <div class="progress-line python">
                            <span></span>
                        </div>
                    </div><br>
                    <div class="bar"><i style="color: #69bcbc;" class='bx bxl-django' ></i>
                        <div class="info">
                            <span>Django</span>
                        </div>
                        <div class="progress-line django">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container1">
                <h1 class="heading1">Professional Skills</h1>
                <div class="radial-bars">
                    <div class="radial-bar">
                        <svg x="0px" y="0px" viewBox="0 0 200 200">
                            <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                            <circle class="path path-1" cx="100" cy="100" r="80"></circle>
                        </svg>
                        <div class="precentage">90%</div>
                        <div class="text">Creativity</div>
                    </div>
                    <div class="radial-bar">
                        <svg x="0px" y="0px" viewBox="0 0 200 200">
                            <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                            <circle class="path path-2" cx="100" cy="100" r="80"></circle>
                        </svg>
                        <div class="precentage">90%</div>
                        <div class="text">Communication</div>
                    </div>
                    <div class="radial-bar">
                        <svg x="0px" y="0px" viewBox="0 0 200 200">
                            <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                            <circle class="path path-3" cx="100" cy="100" r="80"></circle>
                        </svg>
                        <div class="precentage">85%</div>
                        <div class="text">Problem Solving</div>
                    </div>
                    <div class="radial-bar">
                        <svg x="0px" y="0px" viewBox="0 0 200 200">
                            <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
                            <circle class="path path-4" cx="100" cy="100" r="80"></circle>
                        </svg>
                        <div class="precentage">89%</div>
                        <div class="text">TeamWork</div>
                    </div>
                </div>
            </div>        
        </section>
    </section>
    <section>
        <div id="portfolio" id="project">
            <div class="main-text" id="project">
                <h2>Latest <span>Projects</span></h2>
                <div class="portfolio-content">
                    <div class="row">
                        <img src="{% static 'img/image1.jpg' %}">
                        <div class="layer">
                            <h5>Machine Learning </h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, tempora! </p>
                            <a href="#"><i class="bx bx-link-external" style="color:aliceblue ;"></i></a>
                        </div>
                    </div>
                    <div class="row">
                        <img src="{% static 'img/image2.jpg' %}">
                        <div class="layer">
                            <h5>Django </h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, tempora! </p>
                            <a href="#"><i class="bx bx-link-external" style="color:aliceblue ;"></i></a>
                        </div>
                    </div>
                    <div class="row">
                        <img src="{% static 'img/image3.jpg' %}">
                        <div class="layer">
                            <h5>Recommendation System</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, tempora! </p>
                            <a href="#"><i class="bx bx-link-external" style="color:aliceblue ;"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contact" id="contact">
        <div class="contact-text">
            <h2>Contact <span>Me</span></h2>
            <h4>Let's work Together</h4>
            <p>"Let's work together and bring your ideas to life! Whether you're looking for full stack web development, custom Python solutions, or expert insights in data science and machine learning, I'm here to help. Reach out to discuss your project, and let's build something amazing together!"
            </p>
            <div class="contact-list">
                <li><i class="bx bxs-send"></i>vsrathode1109@gmail.com</li>
                <li><i class="bx bxs-phone" ></i>78989 10893</li>
            </div>
            <div class="contact-icons">
                <a href="https://www.facebook.com/virru.banna.39"><i class="bx bxl-facebook-circle"></i></a>
                <a href="https://github.com/virendra1109"><i class="bx bxl-github"></i></a>
                <a href="https://www.instagram.com/thenameisveerji/"><i class="bx bxl-instagram"></i></a>
                <a href=""><i class="bx bxl-linkedin"></i></a>
            </div>
        </div>

        <div class="contact-form">
            <form method="POST" action="">
                {% csrf_token %}
                <input type="text" placeholder="Enter Your Name" id='name' name='name' required>
                <input type="email" placeholder="Enter Your Email" id='email' name='email' required>
                <input type="text" placeholder="Enter Your Subject" id='subject' name='subject' >
                <textarea cols="40" rows="10" placeholder="Enter Your Message" id='message' name='message' required ></textarea>
                <input type="submit" value="Submit" class="send">
            </form>
        </div>
    </section>
    <div class="last-text">
        <p>Developed with Love by Virendra Singh &copy;	2024 </p>
    </div>
<a href="#" class="top"><i class="bx bx-up-arrow-alt"></i></a>
<script src="{% static 'js/main.js'%}"></script>

</body>
</html>